.speakers {
  container-type: inline-size;
  container-name: backgroundspeaker;
  
  &__block {

    @container backgroundspeaker (max-width: 950px) {& { border-radius: 0.5cm; }}
    //Space between top and bottom cards.
    @media (max-width: 1024px) {gap: 1.3cm;}}
}

.block{ @media (max-width: 1024px) { &__line { display: none; }} }

//@apply for speakers web title.
.speakers__title {
  @apply text-white w-fit;
  font-size: 40px;
  padding: 15px;
  border-radius: calc(10px + 1vw);
  background-color: oklch(0.8 0.2799 141.47);
}

//@apply for cards
.card {
  @apply flex flex-col overflow-hidden bg-white rounded-[50px] border-[4px] border-[#0000002d] shadow-md text-center w-full max-w-xs mx-auto;
}