<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Conoce quienes serán nuestros speakers. Charlas llenas de vitalidad y conocimiento.">
      <title><!--Ya definido--></title>
  </head>
    <!-- block of 3 card on the top of the section -->
  <div class="block__card grid lg:grid-cols-3 gap-[1cm] justify-center items-center">
    <!-- card -->
    <div class="card hvr-grow" style="width: 100%; height: 380px;">
      <img class="card__img" src="assets/images/persona4.webp" alt="Susana Álvarez">
      <div class="card__body mt-4 px-5 text-center leading-[1.8em]">
        <h5 class="body__title font-bold text-[20px]">Susana Álvarez</h5>
        <p class="body__text leading-[2rem] text-[18px]">Diseña estrategias para reducir la huella ambiental mediante procesos productivos circulares.</p>
      </div>
    </div>
    <!-- card -->
    <div class="card hvr-grow" style="width: 100%; height: 375px;">
      <img class="card__img" src="assets/images/persona5.webp" alt="Carlota Vázquez">
      <div class="card__body mt-4 px-5 text-center leading-[1.8em]">
        <h5 class="body__title font-bold text-[20px]">Carlota Vázquez</h5>
        <p class="body__text leading-[2rem] text-[18px]">Fomenta la colaboración entre empresas para cerrar ciclos de materiales y energía.</p>
      </div>
    </div>
    <!-- card -->
    <div class="card hvr-grow" style="width: 100%; height: 380px;">
      <img class="card__img" src="assets/images/persona6.webp" alt="Luísa Frida">
      <div class="card__body mt-4 px-5 text-center leading-[1.8em]">
        <h5 class="body__title font-bold text-[20px]">Luísa Frida</h5>
        <p class="body__text leading-[2rem] text-[18px]">Apoya la transición hacia un modelo económico más resiliente, inclusivo y sin desperdicio.</p>
      </div>
    </div>
  </div>
</html>