<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Conoce quienes serán nuestros speakers. Charlas llenas de vitalidad y conocimiento.">
      <title><!--Ya definido--></title>
  </head>
  <!-- block of 3 card on the top of the section -->
  <div class="block__card grid lg:grid-cols-3 gap-[1cm] justify-center items-center">
    <!-- card -->
    <div class="card hvr-grow" style="width: 100%; height: 360px;">
      <img class="card__img" src="assets/images/persona1.webp" alt="Ramiro Perez">
      <div class="card__body text-center leading-[1.8em] mt-4 px-5">
        <h5 class="body__title font-bold text-[20px]">Ramiro Perez</h5>
        <p class="body__text text-[18px] leading-[2rem]">Impulsa modelos de negocio sostenibles basados en la reutilización y el ecodiseño.</p>
      </div>
    </div>
    <!-- card -->
    <div class="card hvr-grow" style="width: 100%; height: 380px;">
      <img class="card__img" src="assets/images/persona2.webp" alt="Dalí Torres">
      <div class="card__body text-center leading-[1.8em] mt-4 px-5">
        <h5 class="body__title font-bold text-[20px]">Dalí Torres</h5>
        <p class="body__text text-[18px] leading-[2rem]">Especialista en innovación circular, transforma residuos en recursos con alto valor añadido.</p>
      </div>
    </div>
    <!-- card -->
    <div class="card hvr-grow" style="width: 100%; height: 410px;">
      <img class="card__img" src="assets/images/persona3.webp" alt="Francisco González">
      <div class="card__body text-center leading-[1.8em] mt-4 px-5">
        <h5 class="body__title font-bold text-[20px]">Francisco González</h5>
        <p class="body__text text-[18px] leading-[2rem]">Promueve políticas públicas que fomentan la economía regenerativa y la eficiencia energética.</p>
      </div>
    </div>
  </div>
</html>